<div #videoRoom id="videoRoom">
  <mat-toolbar class="toolbar" role="heading" [class.light]="lightTheme">
    <div class="left">
      <img class="header_img"
           *ngIf="!lightTheme"
           alt="OpenVidu Logo"
           src="https://raw.githubusercontent.com/OpenVidu/openvidu-call/master/front/openvidu-call/src/assets/images/openvidu_logo.png">
      <img class="header_img"
           *ngIf="lightTheme"
           alt="OpenVidu Logo"
           src="https://raw.githubusercontent.com/OpenVidu/openvidu-call/master/front/openvidu-call/src/assets/images/openvidu_logo_grey.png">
      <div class="title" *ngIf="!compact" [class.titleContentLight]="lightTheme">
        <span>{{sessionName}} - {{userName}}</span>
      </div>
    </div>

    <div class="center">
      <button mat-icon-button (click)="toggleCamera()">
        <mat-icon *ngIf="!studentUser.publishingVideo" matTooltip="Publish video">videocam</mat-icon>
        <mat-icon *ngIf="studentUser.publishingVideo" color="warn" matTooltip="Unpublish video">videocam_off</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleMicrophone()">
        <mat-icon *ngIf="!studentUser.publishingAudio" matTooltip="Publish audio">mic</mat-icon>
        <mat-icon *ngIf="studentUser.publishingAudio" color="warn" matTooltip="Unpublish audio">mic_off</mat-icon>
      </button>
      <button mat-icon-button (click)="exitSession()">
        <mat-icon color="warn" matTooltip="Leave the session">power_settings_new</mat-icon>
      </button>
      <button mat-icon-button (click)="shareScreen()" *ngIf="!studentUser.isSharedScreenActive">
        <mat-icon matTooltip="Choose screen">screen_share</mat-icon>
      </button>
      <button mat-icon-button (click)="stopSharingScreen()" *ngIf="studentUser.isSharedScreenActive">
        <mat-icon matTooltip="Stop screen share" color="warn">stop_screen_share</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleFullscreen()">
        <mat-icon *ngIf="!isFullScreen" matTooltip="Enter fullscreen">fullscreen</mat-icon>
        <mat-icon *ngIf="isFullScreen" matTooltip="Exit fullscreen">fullscreen_exit</mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="teacherUser.isConnected && !studentUser.accessGranted &&( studentUser.publishingVideo || studentUser.publishingAudio)"
              (click)="toggleInterventionRequest()">
        <mat-icon *ngIf="!studentUser.interventionRequired" color="accent" matTooltip="Request intervention">
          record_voice_over
        </mat-icon>
        <mat-icon *ngIf="studentUser.interventionRequired" color="warn" matTooltip="Cancel intervention request">
          voice_over_off
        </mat-icon>
      </button>
    </div>

    <div class="right">
      <button mat-icon-button *ngIf="false" (click)="toggleShowMiniature()">
        <mat-icon>eye</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleChat()">
        <div *ngIf="chatMessageReceived && !showChat" class="point" [class.pointLight]="lightTheme"></div>
        <mat-icon matTooltip="Chat">question_answer</mat-icon>
      </button>
    </div>
    <div class="right" *ngIf="compact"></div>
  </mat-toolbar>

  <app-dialog-extension *ngIf="showDialogToInstallScreenSharingExtension"
                        [nickname]="userName"
                        (cancel)="toggleInstallScreenSharingExtensionDialog()"></app-dialog-extension>

  <div #layout class="bounds" [class.light]="lightTheme">
    <!--  Teacher  -->
    <div [ngClass]="[VIDEO_ELEMENT_CLASS]">
      <app-stream-component *ngIf="teacherUser.isConnected"
                            [streamManager]="teacherStream"
                            [user]="teacherUser"
                            [highlightUserType]="true"
                            [lightTheme]="lightTheme"></app-stream-component>
      <div *ngIf="!teacherUser.isConnected" class="teacherDisconnected">Teacher is disconnected</div>
    </div>

    <!--  Other students -->
    <ng-container *ngFor="let miniature of grantedUsers">
      <div [ngClass]="[VIDEO_ELEMENT_CLASS]">
        <app-stream-component [streamManager]="miniature.stream"
                              [user]="miniature.user"
                              [lightTheme]="lightTheme"></app-stream-component>
      </div>
    </ng-container>

    <!--  Chat  -->
    <div [ngClass]="[VIDEO_ELEMENT_CLASS]" *ngIf="showChat">
      <app-chat-component #chatComponent
                          [teacher]="teacherUser"
                          [user]="studentUser"
                          [otherUsers]="chatUserData"
                          [session]="session"
                          [lightTheme]="lightTheme"
                          [messageList]="chatMessageList"
                          (closeChat)="toggleChat(undefined)"></app-chat-component>
    </div>
  </div>

  <app-miniature *ngIf="showMiniature"
                 [students]="[studentMiniature]"
                 [hideActions]="true"
                 (miniatureResize)="onMiniatureResize($event)"></app-miniature>
</div>
