<div id="chatContainer" [class.chatComponentLight]="lightTheme">
  <div class="toolbar">
    <div class="left"></div>
    <div class="center">
      <span>{{session.sessionId}} - {{!showParticipants ? 'Chat' : 'Connected users'}}</span>
    </div>
    <div class="right">
      <button mat-icon-button (click)="toggleParticipants()">
        <mat-icon *ngIf="showParticipants" matTooltip="hide participants">people_outline</mat-icon>
        <mat-icon *ngIf="!showParticipants" matTooltip="show participants">people</mat-icon>
      </button>
      <button mat-icon-button (click)="close()">
        <mat-icon matTooltip="Close" color="warn">highlight_off</mat-icon>
      </button>
    </div>
  </div>

  <div class="body">
    <!--   Participants   -->
    <div *ngIf="showParticipants" class="participants">
      <!--   Teacher   -->
      <div class="participant" *ngIf="teacher">
        <div class="icons">
          <mat-icon color="accent">person</mat-icon>
          <div class="teacher-tag">TEACHER</div>
        </div>
        <p>{{teacher.userName}}</p>
      </div>

      <!--   Participant   -->
      <ng-container *ngFor="let otherUser of this.otherUsers">
        <div class="participant" *ngIf="user">
          <div class="icons">
            <mat-icon>person</mat-icon>
            <div *ngIf="user.userName === otherUser.userName" class="myself-tag">MYSELF</div>
          </div>
          <p>{{otherUser.userName}}</p>
        </div>
      </ng-container>
    </div>

    <!--   Messages   -->
    <div *ngIf="!showParticipants" class="messages" #chatScroll>
      <div *ngFor="let data of messageList; let i = index"
           class="message"
           [class.right]="data.userName === user.userName"
           [class.left]="data.userName !== user.userName">
        <div class="details">
          <div class="name">{{data.userName}}</div>
          <div class="triangle"></div>
        </div>
        <div class="content" [innerHTML]="data.message | linkify"></div>
      </div>
    </div>
  </div>

  <div class="messageInput">
    <input placeholder="Send a message" (keypress)="handleReturnKeyEvent($event)" [(ngModel)]="message"/>
    <button mat-icon-button class="sendButton" (click)="sendMessage()">
      <mat-icon matTooltip="Send" style="font-size: 20px">send</mat-icon>
    </button>
  </div>
</div>
