#chatContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  background-color: #3d3d3d;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
  flex-grow: 0;
  flex-shrink: 0;
}

.toolbar > .left, .toolbar > .right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  height: 100%;
}

.toolbar > .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.toolbar .center {
  text-align: center;
  line-height: 40px;
}

.toolbar .right {
  text-align: right;
}

.body {
  flex-grow: 1;
  background-color: #b8b8b8;
  overflow: auto;
}

.body .participants {
  box-sizing: border-box;
  color: #ffffff;
  background-color: rgb(94, 91, 91);
  padding: 10px;
  height: 100%;
  overflow: hidden;
}

.body .participant {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.body .participant .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 50px;
}

.body .participant .icons .teacher-tag {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6em;
  background-color: #ffc107;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.body .participant .icons .myself-tag {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6em;
  background-color: #7ac5e2;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.body .messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 10px 10px 0;
  border-bottom: 1px solid #cccccc;
}

.body .messages .message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px 10px;
  width: 70%;
}

.body .messages .message.left {
  align-self: flex-start;
  background-color: #999999;
}

.body .messages .message.right {
  align-self: flex-end;
  background-color: #94b9ce;
}

.body .messages .message .details {
  position: relative;
  padding-bottom: 2px;
  font-weight: bold;
  margin-bottom: 3px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.body .messages .message .details .name {
  font-weight: bold;
}

.body .messages .message .details .triangle {
  border-radius: 2px;
  height: 8px;
  width: 8px;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.body .messages .message.left .details .triangle {
  left: -14px;
  bottom: -6px;
  background-color: #999999;
}

.body .messages .message.right .details .triangle {
  right: -14px;
  bottom: -6px;
  background-color: #94b9ce;
}

.body .messages .message .content {
  font-size: 0.95em;
  font-weight: lighter;
}

/******/

.user-img {
  position: absolute;
  border-radius: 45px;
  width: 60px;
  height: 60px;
  top: 15px;
}

.msg-detail {
  width: calc(100% - 65px);
  display: inline-block;
}

.msg-detail p {
  margin: 0;
  font-size: 15px;
}

.msg-info p {
  font-size: 0.8em;
  color: #000000;
  font-style: italic;
}

.msg-content {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
  color: #000000;
  width: auto;
  max-width: 80%;
}

span.triangle {
  border-radius: 2px;
  height: 8px;
  width: 8px;
  top: 12px;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.text {
  word-break: break-all;
}

/* Start message from other user */

.message.left .msg-detail .msg-info {
  text-align: left;
}

.message.left .msg-detail {
  padding-left: 65px;
}

.message.left .user-img {
  left: -5px;
  border: 1px solid #f0f0f094;
}

.message.left .msg-detail .msg-content {
  background-color: #f0f0f0;
  float: left;
}

.message.left .msg-detail .msg-content span.triangle {
  background-color: #f0f0f0;
  border-bottom-width: 0;
  border-left-width: 0;
  left: -5px;
}

/* End message from other user */

/* Start my messages */

.message.right .msg-detail .msg-info {
  text-align: right;
}

.message.right .user-img {
  right: -5px;
  border: 1px solid #c8ffe8ab;
}

.message.right .msg-detail .msg-content {
  background-color: #c8ffe8;
  float: right;
}

.message.right .msg-detail .msg-content span.triangle {
  background-color: #c8ffe8;
  border-bottom-width: 0;
  border-left-width: 0;
  right: -5px;
}

/* Send messages */

.messageInput {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  flex-grow: 0;
  flex-shrink: 0;
}

.messageInput input {
  display: block;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
  margin: 10px;
}

.messageInput .sendButton {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: 5px;
  background-color: #81e9b0;
}

.messageInput .sendButton mat-icon {
  margin-left: 3px !important;
  margin-bottom: 2px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
}

.chatComponentLight ::-webkit-scrollbar-thumb {
  background-color: #eeeeee !important;
}
