#miniature-block {
  display: flex;
  align-items: flex-end;
  width: 100%;
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
}

.miniature-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.message {
  line-height: 50px;
  color: #ffffff;
}

.miniature {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-right: 20px;
}

.miniature:last-of-type {
  margin-right: 0;
}

.miniature .video {
  position: relative;
  width: 107px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.miniature-double {
  height: 240px;
}

.miniature-double .video {
  width: 320px;
}

.miniature:last-child {
  margin-right: 0;
}

.miniature .video .name {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.miniature .video img {
  max-height: 50%;
  margin-top: 10%;
}

.miniature .buttons {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 40px);
  color: #ffffff;
  background-color: #161616;
  border-left: 1px solid #4d4d4d;
}

.miniature-double .buttons {
  grid-template-rows: repeat(6, 40px);
}

.miniature.granted {
  border: 1px solid #ffa600;
}
