<app-video-room #videoRoom
                *ngIf="display"
                [theme]="theme"
                [sessionName]="_sessionName"
                [user]="_user"
                [students]="_students"
                [openviduServerUrl]="_openviduServerUrl"
                [openviduSecret]="_openviduSecret"
                [roleTeacher]="_roleTeacher"
                (leaveSession)="emitLeaveSessionEvent($event)"
                (joinSession)="emitJoinSessionEvent($event)"
                (error)="emitErrorEvent($event)"></app-video-room>
