<div id="videoRoomNavBar">

  <mat-toolbar id="header" role="heading" [class.headerLight]="lightTheme">

    <div id="navSessionInfo">
      <a>
        <img id="header_img" *ngIf="!lightTheme" alt="OpenVidu Logo" src="https://raw.githubusercontent.com/OpenVidu/openvidu-call/master/front/openvidu-call/src/assets/images/openvidu_logo.png">
        <img id="header_img" *ngIf="lightTheme" alt="OpenVidu Logo" src="https://raw.githubusercontent.com/OpenVidu/openvidu-call/master/front/openvidu-call/src/assets/images/openvidu_logo_grey.png">
      </a>
      <div id="titleContent" *ngIf="!compact && mySessionId" [class.titleContentLight]="lightTheme">
        <span id="session-title">{{mySessionId}} - {{myUserName}}</span>
      </div>
    </div>
    <div id="navButtons" align="center">

      <button mat-icon-button (click)="screenShare()" *ngIf="teacher && !this.screenShareActive && !this.studentAccessGranted" id="navScreenButton">
        <mat-icon matTooltip="Choose screen" >screen_share</mat-icon>
      </button>
      <button mat-icon-button (click)="screenShareDisabled()" *ngIf="teacher && this.screenShareActive">
        <mat-icon matTooltip="Stop screen share" color="warn">stop_screen_share</mat-icon>
      </button>
      <button mat-icon-button (click)="exitSession()" id="navLeaveButton">
        <mat-icon color="warn" matTooltip="Leave the session">power_settings_new</mat-icon>
      </button>
      <button mat-icon-button *ngIf= "(teacher && !this.studentAccessGranted) || (student && this.myStudentAccessGranted)" (click)="micStatusChanged()" id="navMicButton">
        <mat-icon *ngIf="this.publishAudio" matTooltip="Unpublish audio">mic</mat-icon>
        <mat-icon *ngIf="!this.publishAudio" color="warn" matTooltip="Publish audio">mic_off</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleFullscreen()">
        <mat-icon matTooltip="Fullscreen">{{fullscreenIcon}}</mat-icon>
      </button>
      <button mat-icon-button *ngIf="student && !this.myStudentAccessGranted" (click)="askForIntervention()" id="navMicButton">
        <mat-icon matTooltip="ask For Intervention">{{interventionIcon}}</mat-icon>
      </button>
      <div class="icon-button" *ngIf="teacher">
        <div class="mat-icon-button" *ngFor="let userData of this.usersData | interventionAskedFilter ; let i = index">
          |
          <button mat-icon-button *ngIf= "!studentAccessGranted || userData.accessGranted" (click)="grantIntervention(!studentAccessGranted, userData)" id="navCamButton">
            <mat-icon *ngIf="this.studentAccessGranted" color="warn" matTooltip="{{userData.userName}}">cancel</mat-icon>
            <mat-icon *ngIf="!this.studentAccessGranted" color="accent" matTooltip="{{userData.userName}}">person_add</mat-icon>
          </button>
        </div>
      </div>
      <button mat-icon-button id="navChatButton" (click)="toggleChat()" *ngIf="!compact">
        <div *ngIf="messageReceived && chatDisplay === 'none'" id="point" [class.pointLight]="lightTheme"></div>
        <mat-icon matTooltip="Chat">question_answer</mat-icon>
      </button>
      <button mat-icon-button id="navVisitors" *ngIf="!compact">
        <mat-icon matBadge="{{this.usersData.length}}" matBadgeColor="accent">remove_red_eye</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <app-dialog-extension *ngIf="showDialogExtension" [nickname]="myUserName" (cancel)="toggleDialogExtension()"></app-dialog-extension>

  <div id="layout" class="bounds" [class.boundsLight]="lightTheme">
    <div class="OT_root OT_publisher custom-class">
      <stream-component #videoStream *ngIf="mainStreamManager" [streamManager]="mainStreamManager" [publishAudio]= "publishAudio" [muted]="(this.teacher && !studentAccessGranted) || (!this.teacher && myStudentAccessGranted)" [small]="false" [lightTheme]="lightTheme" [showNotification]="messageReceived && chatDisplay === 'none'"></stream-component>
      <stream-component #videoStream *ngIf="extraStreamManager && this.studentAccessGranted" [streamManager]="extraStreamManager" [muted]= "teacher" [small]="true" [lightTheme]="lightTheme" [showNotification]="messageReceived && chatDisplay === 'none'"></stream-component>
    </div>
    <div class="OT_root OT_dialog custom-class" [style.display]="chatDisplay" *ngIf="this.userChat">
      <chat-component #chatComponent [usersData]="this.usersData" [user]="this.userChat" [session]= "this.session" [chatDisplay]="chatDisplay" [lightTheme]="lightTheme" [messageList]="messageList" (closeChat)="toggleChat(undefined)"></chat-component>
    </div>
  </div>

  <app-miniature [amITeacher]="teacher" [students]="students"></app-miniature>
</div>